.bg-dark-green {
    background-color: #439A97 !important;
}
.bg-green {
    background-color: #62B6B7 !important;
}
.bg-yellow-green {
    background-color: #97DECE !important;
}
.bg-yellow {
    background-color: #CBEDD5 !important;
}
.bg-blue {
    background-color: #82c3ec !important;
}
.bg-white {
    background-color: #dbe3ff !important;
}
    
.bg-dark-blue {
    background-color: #161853 !important;
}
.bg-blue {
    background-color: #292C6D !important;
}
.bg-light-blue {
    background-color: #002E94 !important;
}

